.header {
  background-color: var(--gray-700);
  display: flex;
  height: 12.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
}

.header > img {
  margin-top: 0.5rem;
}

.header > h1 {
  color: var(--blue);
  font-size: 2.5rem;
  font-weight: bolder;
}

.header > h1 > span {
  color: var(--purple);
}
